.idea/
node_modules/

ckeditor/*

# Alleen freme plugin
!ckeditor/plugins/
ckeditor/plugins/*
!ckeditor/plugins/freme/

#Alleen freme sample
!ckeditor/samples/
ckeditor/samples/*
!ckeditor/samples/freme*.html
